{% extends "base.html" %}


{% block title %}
    <title>Show</title>
    {% endblock %}
    {% block contend %}
    <table class="table table-dark table-striped">


        <thead>
        <tr>
            <td> Person ID</td>
              <td> Person Name</td>
              <td> Birth Date</td>
              <td> Age</td>
              <td> Person City</td>
              <td> Action </td>

        </tr>
        </thead>
        <tbody>
        {% for person in obj %}
        <tr>
            <td>{{person.pid}}</td>
            <td>{{person.name}}</td>
            <td>{{person.dob}}</td>
            <td>{{person.age}}</td>
            <td>{{person.city}}</td>
            <td>
                <a href="/a1/uv/{{person.pid}}"><button class="btn btn-success">Update</button></a>
             <a href="/a1/dv/{{person.pid}}"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}